@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "Inter", sans-serif;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #CCCCCC;
}

body {
  background-color: #FFFFFF;
  color: #000000;
}
